.__famous-surface_reset {
    opacity: 1;
    transform-origin: 0% 0% 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1);
    -webkit-transform-style: flat;
    transform-style: flat;
}

.famous-group.list {
    margin: 0px !important;
    padding: 0px !important;
}

.ff-widget.item {
	position: absolute;
	border-width: 0px;
}